* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    font-family: sans-serif;
  }
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 40px;
  }
  main section h2 {
    margin-top: 0;
  }
  #my-story-header {
    margin-bottom: 1em;
    color: #034f84;
    font-size: 2em;
  }
  #story-container {
    background-color: #034f84;
    padding: 1em;
    border-radius: 5px;
    color: white;
  }
  #my-story p {
    margin-bottom: 1em;
  }
  .team-container {
    display: flex;
    flex-wrap: wrap;
  }
  .team-member {
    margin-right: 20px;
    margin-bottom: 20px;
    flex-basis: calc(33);
  }
  .team-member img {
    border: 2px solid white;
    border-radius: 5px;
  }
  #my-story {
    padding: 20px;
    background-color: #d6cbd3;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #a2b9bc;
  }
  #me-header {
    color: #bc5a45;
    font-size: 2em;
  }
  #me h3 {
    color: #bc5a45;
    font-size: 1em;
  }
  #me p {
    color: #034f84;
    font-size: 1em;
    font-weight: bold;
  }