.container {
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 10px 10px 10px #a2b9bc;
}
.post {
    margin-bottom: 2rem;
}
.post h2 {
    margin-bottom: 0.5rem;
    border: 1px solid #2d4373;
    background-color: #2d4373;
    border-radius: 5px;
    padding: 1em;
    color: white;
}
.post h3 {
    margin-bottom: 0.5rem;
    border: 1px solid #6b5b95;
    background-color: #6b5b95;
    border-radius: 5px;
    padding: 1em;
    color: white;
}
.post #article-content {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9em;
    border: 1px solid #deeaee;
    padding: 1em;
    background-color: #deeaee;
    text-align: justify;
    border-radius: 5px;
}
.post p {
    margin-bottom: 1rem;
}
.post-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin-bottom: 1rem;
    border-radius: 5px;
}
.post-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    color: #666;
    margin-bottom: 1rem;
}
.author-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}
.author-name {
    font-weight: bold;
    color: #6b5b95
}
.author-title {
    font-weight: bold;
    color: #3b5998;
}
.author-company {
    font-weight: bold;
    color: #3b5998;
}
.author-bio {
    font-weight: bold;
}
.post-date {
    font-weight: bold;
}
.social-sharing ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  .social-sharing li {
    margin-right: 10px;
  }
  .social-sharing a {
    display: block;
    width: 30px;
    height: 30px;
    background-color: #3b5998;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    transition: all 0.3s ease-in-out;
  }
  .social-sharing a:hover {
    background-color: #2d4373;
  }
  .social-sharing i {
    margin-top: 7px;
  }

  q {
    font-weight: bold;
    color: #3b5998;
  }