* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  #contact-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6b5b95;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #a2b9bc;
  }

  .container {
    margin: 0 auto;
    padding: 20px;
    background-color: #eaece5;
    border: 1px solid #eaece5;
    border-radius: 5px;
    margin-bottom: 8em;
  }

  form {
    /*Rubric Layout Criteria: Uses CSS Grid at least twice throughout the project to create the layout for pages.*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    color: #034f84;
    font-weight: bold;
    font-size: 1.1em;
  }

  #label-name, #label-email, #label-message {
    border: 1px solid #034f84;
    border-radius: 5px;
    background-color: #034f84;
    color: white;
    padding: 0.5em;
    width: 150px;
  }

  label,
  input,
  textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }

  label {
    font-weight: bold;
  }

  input,
  textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button[type="submit"] {
    padding: 1em;
    background-color: #c94c4c;
    border: 1px solid #c94c4c;
    border-radius: 5px;
    margin-top: 15px;
    box-shadow: 5px 5px 4px #a2b9bc;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
  }

  button[type="submit"]:hover {
    background-color: #3b5998;
    border: 1px solid #3b5998;
    font-size: 1.1em;
  }

  /* Reponsive css */
  /*Rubric Reponsiveness Criteria 1. : Multi-Device Web Design. Pages are mobile-friendly and display correctly on all display sizes (mobile, tablet, desktop).*/
  @media only screen and (max-width: 1281px) {
    body {
      overflow-x: hidden;
    }

    .contact-main {
      font-size: 1.5em;
    }

    .contact-container {
      width: 1160px;
    }
  }

  @media only screen and (max-width: 1026px) {
    body {
      overflow-x: hidden;
    }

    .contact-main {
      font-size: 1.5em;
    }

    .contact-container {
      width: 985px;
    }
  }

  @media only screen and (max-width: 913px) {
    body {
      overflow-x: hidden;
    }

    .contact-main {
      font-size: 1.5em;
    }

    .contact-container {
      width: 870px;
      height: 900px;
    }
  }

  @media only screen and (max-width: 821px) {
    body {
      overflow-x: hidden;
    }

    .contact-main {
      font-size: 1.5em;
    }

    .contact-container {
      width: 775px;
      height: 740px;
    }
  }

  @media only screen and (max-width: 769px) {
    body {
      overflow-x: hidden;
    }

    .contact-main {
      font-size: 1.5em;
    }

    .contact-container {
      width: 725px;
      height: 590px;
    }
  }

  @media only screen and (max-width: 541px) {
    body {
      overflow-x: hidden;
    }

    .contact-main {
      font-size: 1.5em;
    }

    .contact-container {
      width: 500px;
    }
  }

  @media only screen and (max-width: 415px) {
    body {
      overflow-x: hidden;
    }

    .contact-main {
      font-size: 1.5em;
    }

    .contact-container {
      width: 370px;
      height: 540px;
    }
  }

  @media only screen and (max-width: 413px) {
    body {
      overflow-x: hidden;
    }

    .contact-main {
      font-size: 1.5em;
    }

    .contact-container {
      width: 370px;
      height: 560px;
    }
  }

  @media only screen and (max-width: 394px) {
    body {
      overflow-x: hidden;
    }

    .contact-main {
      font-size: 1.5em;
    }

    .contact-container {
      width: 355px;
    }
  }

  @media only screen and (max-width: 391px) {
    body {
      overflow-x: hidden;
    }

    .contact-main {
      font-size: 1.5em;
    }

    .contact-container {
      width: 350px;
    }
  }

  @media only screen and (max-width: 376px) {
    body {
      overflow-x: hidden;
    }

    .contact-main {
      font-size: 1.5em;
    }

    .contact-container {
      width: 335px;
      height: 335px;
    }
  }

  @media only screen and (max-width: 361px) {
    body {
      overflow-x: hidden;
    }

    .contact-main {
      font-size: 1.5em;
    }

    .contact-container {
      width: 321px;
      height: 410px;
    }
  }

  @media only screen and (max-width: 281px) {
    body {
      overflow-x: hidden;
    }

    .contact-main {
      font-size: 1.5em;
    }

    .contact-container {
      width: 240px;
    }
  }