* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }

  header {
    background-color: #f2f2f2;
    padding: 20px;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #eaece5;
    border: 1px solid #eaece5;
    border-radius: 5px;
    margin-bottom: 8em;
  }

  form {
    /*Rubric Layout Criteria: Uses CSS Grid at least twice throughout the project to create the layout for pages.*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    color: #034f84;
    font-weight: bold;
    font-size: 1.1em;
  }

  #label-name, #label-email, #label-message {
    border: 1px solid #034f84;
    border-radius: 5px;
    background-color: #034f84;
    color: white;
    padding: 0.5em;
  }

  label,
  input,
  textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }

  label {
    font-weight: bold;
  }

  input,
  textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button[type="submit"] {
    padding: 1em;
    background-color: #c94c4c;
    border: 1px solid #c94c4c;
    border-radius: 5px;
    margin-top: 15px;
    box-shadow: 5px 5px 4px #a2b9bc;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
  }

  button[type="submit"]:hover {
    background-color: #3b5998;
    border: 1px solid #3b5998;
    font-size: 1.1em;
  }
