/* Rubric Structure Criteria: There should be at least 3 imported files in the main css file. */
@import './blog-post.css';
@import './about.css';
@import './contact.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  /* Basic Styles */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: #cfe0e8;
  }
  header, main, footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  /*Rubric Layout Criteria: Uses Flexbox at least twice throughout the project to create a component or pattern.*/
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6b5b95;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #a2b9bc;
  }
  /*Rubric Layout Criteria: Uses Flexbox at least twice throughout the project to create a component or pattern.*/
  nav ul {
    display: flex;
    list-style: none;
  }
  nav li {
    margin-right: 20px;
  }
  nav a {
    color: #eaece5;
    text-decoration: none;
  }
  nav a:hover {
    text-decoration: underline;
  }
  /*Rubric Layout Criteria: Uses CSS Grid at least twice throughout the project to create the layout for pages.*/
  main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
  }
  aside {
    padding: 20px;
    height: 80%;
    background-color: #d6cbd3;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #a2b9bc;
  }
  aside h2 {
    margin-bottom: 10px;
    color: #034f84;
    text-align: center;
  }
  aside img {
    max-width: 100%;
    border: 3px solid white;
    text-align: center;
  }
  aside p {
    margin-top: 1em;
  }
  .posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  article {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    background-color: #eaece5;
    padding: 1em;
    box-shadow: 10px 10px 10px #a2b9bc;
  }
  article h2 {
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 1em;
    border: 1px solid #034f84;
    padding: 1em;
    border-radius: 5px;
    background-color: #034f84;
    color: #eaece5;
    text-align: center;
  }
  article h3 {
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 0.9em;
    border: 1px solid #6b5b95;
    padding: 1em;
    border-radius: 5px;
    background-color: #6b5b95;
    color: white;
    text-align: justify;
  }
  article p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9em;
    border: 1px solid #deeaee;
    padding: 1em;
    background-color: #deeaee;
    text-align: justify;
  }
  #author-image {
    border-radius: 5px;
  }
  article span {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    color: #034f84;
  }
  .article-image {
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
  }
  .card {
    border-radius: 5px;
  }
  #read-more-button {
    padding: 1em;
    background-color: #c94c4c;
    border: 1px solid #c94c4c;
    border-radius: 5px;
    margin-top: 15px;
    box-shadow: 5px 5px 4px #a2b9bc;
  }
  #read-more-button a {
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 1em;
  }
  #read-more-button:hover {
    background-color: #3b5998;
    border: 1px solid #3b5998;
  }
  #read-more-button a:hover {
    font-size: 1.1em;
  }
  figure figcaption {
    font-size: 0.8em;
    color: #6b5b95;
    font-weight: bold;
    padding: 5px;
    border: 2px solid #deeaee;
    background-color: #deeaee;
    border-radius: 5px;
  }
  figure {
    text-align: center;
  }
  #about-content {
    text-align: justify;
    padding: 1em;
    border: 1px solid #deeaee;
    background-color: #deeaee;
    font-family: Arial, Helvetica, sans-serif;
    color: #bc5a45;
    border-radius: 5px;
  }
  footer {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    color: white;
    margin-bottom: 1em;
    border: 1px solid #bc5a45;
    padding: 1em;
    border-radius: 5px;
    background-color: #bc5a45;
    box-shadow: 10px 10px 10px #a2b9bc;
    margin-left: auto;
    margin-right: auto;
  }

/* Reponsive css */
@media only screen and (max-width: 1221px) {
  footer {
    margin-left: 1em;
    margin-right: 1em;
  }
}
@media only screen and (max-width: 1198px) {
  aside {
    height: 79%;
  }
}
@media only screen and (max-width: 1191px) {
  aside {
    height: 78%;
  }
}
@media only screen and (max-width: 1183px) {
  aside {
    height: 78%;
  }
}
@media only screen and (max-width: 1172px) {
  aside {
    height: 80%;
  }
}
@media only screen and (max-width: 1144px) {
  aside {
    height: 82%;
  }
}
@media only screen and (max-width: 1074px) {
  aside {
    height: 83%;
  }
}
@media only screen and (max-width: 1050px) {
  aside {
    height: 87%;
  }
}
@media only screen and (max-width: 1048px) {
  aside {
    height: 88%;
  }
}
@media only screen and (max-width: 1020px) {
  aside {
    height: 85%;
  }
}
@media only screen and (max-width: 1020px) {
  aside {
    height: 85%;
  }
}
@media only screen and (max-width: 929px) {
  aside {
    height: 89%;
  }
}
@media only screen and (max-width: 913px) {
  aside {
    height: 86%;
  }
}
@media only screen and (max-width: 884px) {
  aside {
    height: 88%;
  }
}
@media only screen and (max-width: 870px) {
  aside {
    height: 90%;
  }
}
@media only screen and (max-width: 864px) {
  aside {
    height: 88%;
  }
}
@media only screen and (max-width: 836px) {
  aside {
    height: 91%;
  }
  footer {
    font-size: 1em;
  }
}
@media only screen and (max-width: 833px) {
  aside {
    height: 92%;
  }
}
@media only screen and (max-width: 830px) {
  aside {
    height: 92%;
  }
}
@media only screen and (max-width: 821px) {
  aside {
    height: 90%;
  }
}
@media only screen and (max-width: 812px) {
  aside {
    height: 89%;
  }
}
@media only screen and (max-width: 800px) {
  aside {
    height: 91%;
  }
}
@media only screen and (max-width: 793px) {
  aside {
    height: 92%;
  }
}
@media only screen and (max-width: 783px) {
  aside {
    height: 93%;
  }
}
@media only screen and (max-width: 775px) {
  aside {
    height: 94%;
  }
}
@media only screen and (max-width: 769px) {
  aside {
    height: 93%;
  }
}
@media only screen and (max-width: 760px) {
  aside {
    height: 92%;
  }
}
@media only screen and (max-width: 755px) {
  aside {
    height: 90%;
  }
}
@media only screen and (max-width: 740px) {
  aside {
    height: 91%;
  }
}
@media only screen and (max-width: 736px) {
  aside {
    height: 90%;
  }
}
@media only screen and (max-width: 735px) {
  aside {
    height: 93%;
  }
}
@media only screen and (max-width: 717px) {
  aside {
    height: 89%;
  }
}
@media only screen and (max-width: 700px) {
  aside {
    height: 88%;
  }
}
@media only screen and (max-width: 699px) {
  aside {
    height: 87%;
  }
}
@media only screen and (max-width: 695px) {
  aside {
    height: 85%;
  }
}
@media only screen and (max-width: 686px) {
  aside {
    height: 83%;
  }
}
@media only screen and (max-width: 680px) {
  aside {
    height: 80%;
  }
}
@media only screen and (max-width: 675px) {
  aside {
    height: 80%;
  }
}
@media only screen and (max-width: 668px) {
  aside {
    height: 80%;
  }
}
@media only screen and (max-width: 664px) {
  aside {
    height: 75%;
  }
}
@media only screen and (max-width: 648px) {
  aside {
    height: 73%;
  }
}
@media only screen and (max-width: 631px) {
  aside {
    height: 70%;
  }
}
@media only screen and (max-width: 624px) {
  aside {
    height: 69%;
  }
}
@media only screen and (max-width: 617px) {
  aside {
    height: 67%;
  }
}
@media only screen and (max-width: 606px) {
  aside {
    height: 66%;
  }
}
@media only screen and (max-width: 605px) {
  aside {
    height: 65%;
  }
}
@media only screen and (max-width: 600px) {
  /* Adjust header and nav styles for small screens */
  body {
    font-size: 0.8em;
  }
  aside {
    height: 62%;
  }
  nav {
    margin-top: 20px;
  }
  nav ul {
    flex-direction: column;
  }
  nav li {
    margin-bottom: 10px;
  }
  /* Adjust card styles for small screens */
  .card {
    width: 100%;
  }
  .article-image {
    width: 100%;
    height: auto;
  }
  /* Adjust read-more button styles for small screens */
  #read-more-button {
    width: 100%;
  }
}
@media only screen and (max-width: 593px) {
  aside {
    height: 61%;
  }
}
@media only screen and (max-width: 574px) {
  aside {
    height: 59%;
  }
}
@media only screen and (max-width: 552px) {
  aside {
    height: 58%;
  }
}
@media only screen and (max-width: 548px) {
  aside {
    height: 56%;
  }
}
@media only screen and (max-width: 541px) {
  aside {
    height: 63%;
  }
}
@media only screen and (max-width: 530px) {
  aside {
    height: 55%;
  }
}
@media only screen and (max-width: 510px) {
  aside {
    height: 52%;
  }
}
@media only screen and (max-width: 501px) {
  aside {
    height: 51%;
  }
}
@media only screen and (max-width: 497px) {
  aside {
    height: 49%;
  }
}
@media only screen and (max-width: 486px) {
  aside {
    height: 48%;
  }
}
@media only screen and (max-width: 480px) {
  aside {
    height: 46%;
  }
}
@media only screen and (max-width: 478px) {
  aside {
    height: 44%;
  }
}
@media only screen and (max-width: 415px) {
  aside {
    height: 51%;
  }
}
@media only screen and (max-width: 394px) {
  aside {
    height: 46%;
  }
}
@media only screen and (max-width: 391px) {
  aside {
    height: 45%;
  }
}
@media only screen and (max-width: 376px) {
  aside {
    height: 43%;
  }
}
@media only screen and (max-width: 361px) {
  aside {
    height: 43%;
  }
}
@media only screen and (max-width: 281px) {
  header {
    width: 363px;
  }
  footer {
    width: 363px;
    margin-left: 0;
    margin-right: 0;
  }
}
